@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
:root {
  --color1: #d435cc;
  --color2: #9373dd;
  --gradient: linear-gradient(100deg, var(--color2), var(--color1));
  --fontbody: "Source Sans Pro", sans-serif;
  --fontheading: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontheading);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

body {
  font-family: var(--fontbody);
  font-size: 1.4rem;
  font-weight: 400;
  overflow-x: hidden;
}

.text-color1 {
  color: var(--color1);
}

.text-color2 {
  color: var(--color2);
}

.text-white {
  color: #ffffff;
}

.text-stroke {
  text-shadow: 5px 5px var(--color1);
  color: white;
}

.text-gradient {
  background: -webkit-linear-gradient(35deg, var(--color1), var(--color2));
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bg-animation 1.3s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.nav-scrolled {
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 185px;
}

.callus {
  padding-left: 30px;
  position: relative;
}

.callus::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/img/phone.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.myaccount {
  padding-left: 30px;
  position: relative;
}

.myaccount::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/img/user.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.navbar-toggler {
  margin-right: 10px;
}

nav {
  transition: all ease-in-out 1s;
}

.navbar-nav {
  font-size: 1.19rem;
}

.navbar-nav .nav-link {
  padding: 10px 30px;
  text-transform: uppercase;
  color: #000000;
}

.navbar-nav .nav-link:hover {
  color: var(--color1);
}

.submenu {
  font-size: 1.19rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 82% 93%, 60% 95%, 36% 100%, 20% 93%, 10% 98%, 0 100%);
  background: linear-gradient(37deg, var(--color1), var(--color2));
  display: block;
  min-height: 60vh;
  width: 100%;
  padding: 250px 0px 100px 0px;
}

header .input-companyname {
  text-align: center;
  border: none;
  padding: 1em;
  font-size: 1.6rem;
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
}

header .btn-header {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1em 2em;
  background-color: #353535;
  transition: all ease-in-out 0.5s;
  display: block;
}

header .btn-header:hover {
  background: white;
  font-weight: 700;
  color: black;
}

header .form {
  background: #0000006b;
  padding: 31px;
}

main {
  width: 100%;
  padding: 0.8rem;
  margin: auto;
}

.display-1 {
  font-weight: 700;
}

.button {
  background: linear-gradient(37deg, var(--color1), var(--color2));
  color: #ffffff;
  font-family: var(--fontheading);
  font-size: 1.5rem;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}

.button:hover {
  background: linear-gradient(90deg, var(--color1), var(--color2));
}

.hover-scale:hover {
  box-shadow: -1px -1px 11px 3px #00000063;
  transform: scale(1.05);
}

.box {
  min-height: 350px;
  transition: all ease-in-out 0.5s;
  padding: 15px;
}

.box:hover {
  box-shadow: -1px -1px 11px 3px #d0d0d0;
  transform: translate(0px, -20px);
}

.accordion-button {
  font-size: 1.7rem;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background: linear-gradient(90deg, var(--color1), var(--color2));
}

.accordion-body {
  padding: 2rem 1rem;
  background-color: #ececec;
}

.contact-image {
  background-image: url(/img/contact.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  background-attachment: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

footer {
  background-color: #dbdbdb;
  color: #363636;
  padding: 2rem;
  font-size: 1.3rem;
}

footer .footer--heading {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}

footer .footer--columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

footer .footer--col {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 400px;
}

footer .footer--col h4 {
  margin-bottom: 1em;
}

footer .footer--col ul,
footer .footer--col li {
  margin-left: 15px;
}

.validated {
  outline: 3px solid #a6dda6;
  position: relative;
}

.validated::before {
  content: "";
  background-image: url(/img/tick.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-color: #9de09d;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.invalid {
  outline: 3px solid #d68e8e;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
  }
}
