@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
:root {
  --color1: #d435cc;
  --color2: #9373dd;
  --darkgrey: #1a1a1a;
  --gradient: linear-gradient(100deg, var(--color2), var(--color1));
  --fontbody: "Source Sans Pro", sans-serif;
  --fontheading: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontheading);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

body {
  font-family: var(--fontbody);
  font-size: 1.2rem;
  font-weight: 300;
  overflow-x: hidden;
}

.text-color1 {
  color: var(--color1);
}

.text-color2 {
  color: var(--color2);
}

.text-white {
  color: #ffffff;
}

.text-stroke {
  text-shadow: 5px 5px var(--color1);
  color: white;
}

.text-gradient {
  background: -webkit-linear-gradient(35deg, var(--color1), var(--color2));
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bg-animation 1.3s infinite;
          animation: bg-animation 1.3s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.nav-scrolled {
  -webkit-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 185px;
}

.callus {
  padding: 10px 30px;
  position: relative;
}

.callus::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/img/phone.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.myaccount {
  padding-left: 10px 30px;
  position: relative;
}

.myaccount::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/img/user.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar-toggler {
  margin-right: 10px;
}

nav {
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  padding: 10px 20px;
}

.navbar-nav, .submenu {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-nav .nav-link, .submenu .nav-link {
  padding: 10px 30px;
  color: #000000;
}

.navbar-nav .nav-link:hover, .submenu .nav-link:hover {
  color: var(--color1);
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 82% 93%, 60% 95%, 36% 100%, 20% 93%, 10% 98%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 97%, 82% 93%, 60% 95%, 36% 100%, 20% 93%, 10% 98%, 0 100%);
  background: linear-gradient(37deg, var(--color1), var(--color2));
  display: block;
  min-height: 60vh;
  width: 100%;
  padding: 250px 0px 100px 0px;
}

header .input-companyname {
  text-align: center;
  border: none;
  padding: 1em;
  font-size: 1.6rem;
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
}

header .btn-header {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1em 2em;
  background-color: #353535;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  display: block;
}

header .btn-header:hover {
  background: white;
  font-weight: 700;
  color: black;
}

header .form {
  background: #0000006b;
  padding: 31px;
}

main {
  width: 100%;
  padding: 0.8rem;
  margin: auto;
}

.display-1 {
  font-weight: 700;
}

.button {
  background: linear-gradient(37deg, var(--color1), var(--color2));
  color: #ffffff;
  font-family: var(--fontheading);
  font-size: 1.5rem;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.button:hover {
  background: -webkit-gradient(linear, left top, right top, from(var(--color1)), to(var(--color2)));
  background: linear-gradient(90deg, var(--color1), var(--color2));
}

.hover-scale:hover {
  -webkit-box-shadow: -1px -1px 11px 3px #00000063;
          box-shadow: -1px -1px 11px 3px #00000063;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.box {
  min-height: 350px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  padding: 15px;
}

.box:hover {
  -webkit-box-shadow: -1px -1px 11px 3px #d0d0d0;
          box-shadow: -1px -1px 11px 3px #d0d0d0;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.hero {
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  width: 100%;
  min-height: 600px;
  background-image: url(/img/header-2.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -10px;
  left: 15%;
  background-color: rgba(17, 17, 59, 0.432);
  padding: 20px;
  width: calc(100vw / 1.75 - 15vw);
  text-align: center;
}

.hero .hero-content .quote {
  color: #ffffff;
  font-weight: 200;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 2.4rem;
}

.hero .hero-content .citation {
  text-transform: uppercase;
  font-weight: 600;
}

.hero .hero-content img {
  width: 100%;
  outline: 7px solid #ffffff;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-3deg);
  max-width: 300px;
  margin: 80px auto 30px auto;
}

.accordion-button {
  font-size: 1.7rem;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(var(--color1)), to(var(--color2)));
  background: linear-gradient(90deg, var(--color1), var(--color2));
}

.accordion-body {
  padding: 2rem 1rem;
  background-color: #ececec;
}

.contact-image {
  background-image: url(/img/contact.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  background-attachment: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

footer {
  background-color: #dbdbdb;
  color: #363636;
  padding: 2rem;
  font-size: 1.3rem;
}

footer .footer--heading {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}

footer .footer--columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer--col {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 400px;
}

footer .footer--col h4 {
  margin-bottom: 1em;
}

footer .footer--col ul,
footer .footer--col li {
  margin-left: 15px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0px;
}

footer .social svg {
  fill: var(--darkgrey);
  width: 30px;
  height: auto;
  margin: 10px 15px 0px 0px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

footer .social svg:hover {
  fill: var(--color1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.validated {
  outline: 3px solid #a6dda6;
  position: relative;
}

.validated::before {
  content: "";
  background-image: url(/img/tick.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-color: #9de09d;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.invalid {
  outline: 3px solid #d68e8e;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */